# GitHub Actions e ferramentas de deploy usarão este arquivo
# para instalar dependências exatamente como definido em package.json

# Garante que o npm install não modifica package.json ou package-lock.json
save-exact=true

# Desabilita a criação automática de package-lock.json
package-lock=false
